<div class="panel">
  <div class="panel-header border">
    File Input
  </div>
  <div class="panel-content border">
    <div class="dropzone" id="file-input" data-file-input data-previews-container="#file-input-preview">
      <div class="dz-message bordered hide">
        <div class="no-content">
          <i class="mdi mdi-upload"></i>
          <span>Drop file here</span>
          <input type="file" id="file-upload-field">
          <label for="file-upload-field" class="button small success hollow margin-top-1">Upload File</label>
        </div>
      </div>
      <div id="file-input-preview"></div>
    </div>
  </div>
</div>

<template id="file-input-preview-template">
  <div class="text-center">
    <div class="margin-bottom-1">
      <img data-mime-match="image/*" data-dz-thumbnail />
      <video data-mime-match="video/*" data-dz-video controls></video>
      <div class="file-preview" data-mime-match="*/*">
        <i class="mdi mdi-file-document-box"></i>
        <span class="margin-bottom-1" data-dz-name></span>
      </div>
    </div>
    <div class="panel-section expanded border last grid-x">
      <div class="cell auto text-left">
        <button class="button alert small hollow margin-0" data-dz-remove>Remove</button>
      </div>
      <div class="cell shrink">
        <button class="button small hollow margin-0" data-dz-change>Change</button>
      </div>
    </div>
  </div>
</template>
