<form class="panel">
  <div class="panel-header border">
    Panel with form
  </div>
  <div class="panel-content border">
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <label>Input Label
          <input type="text" placeholder="Placeholder...">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Input Label
          <input type="text" placeholder="Placeholder...">
        </label>
      </div>
    </div>
    <label>
      How many puppies?
      <input type="number" value="100">
    </label>
    <label>Select Menu
      <select>
        <option value="husker">Husker</option>
        <option value="starbuck">Starbuck</option>
        <option value="hotdog">Hot Dog</option>
        <option value="apollo">Apollo</option>
      </select>
    </label>
  </div>
  <div class="panel-footer">
    <div class="grid-x">
      <div class="cell auto">
        <button class="button hollow margin-0" type="submit" name="button">Submit</button>
      </div>
      <div class="cell shrink">
        <a class="button success hollow margin-0" data-open="reveal-default">Modal</a>
        <a class="button primary hollow margin-0" data-open="reveal-primary">P Modal</a>
        <a class="button secondary hollow margin-0" data-open="reveal-secondary">S Modal</a>
      </div>
    </div>
  </div>
</form>

{{> reveal }}
