<form class="panel">
  <div class="panel-header border">
    Panel with form
  </div>
  <div class="panel-content border">
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <label>Input Label
          <input type="text" placeholder="Placeholder...">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Input Label
          <input type="text" placeholder="Placeholder...">
        </label>
      </div>
    </div>
    <label>
      How many puppies?
      <input type="number" value="100">
    </label>
    <label>Select Menu
      <select>
        <option value="husker">Husker</option>
        <option value="starbuck">Starbuck</option>
        <option value="hotdog">Hot Dog</option>
        <option value="apollo">Apollo</option>
      </select>
    </label>
  </div>
  <div class="panel-footer">
    <button class="button hollow margin-0" type="submit" name="button">Submit</button>
  </div>
</form>
