<div class="panel">
  <div class="panel-header border">
    Icon List
  </div>
  <div class="panel-content border padding-0">
    <ul class="list striped margin-0">
      <li class="border"><i class="mdi mdi-calendar color-primary"></i>
      <span class="color-default">List item text</span>
      </li>
      <li class="border"><i class="mdi mdi-clock color-primary"></i>
      <span class="color-default">List item text</span>
      </li>
      <li class="border"><i class="mdi mdi-map-marker color-primary"></i>
      <span class="color-default">List item text</span>
      </li>
    </ul>
  </div>
</div>
