<div class="panel">
  <input type="text" class="large margin-0" placeholder="Placeholder large...">
  <div class="inline-edit-box" data-inline-edit-box>
    <a data-value="Slug: http://website.com/[val]" data-placeholder="Placeholder..." class="edit-preview" data-preview>Placeholder...</a>
    <input type="text" class="edit-input small" placeholder="Placeholder small...">
    <span class="edit-button mdi mdi-pencil" data-edit></span>
    <span class="save-button mdi mdi-check" data-save></span>
  </div>
</div>
