<div class="panel">
  <div class="panel-header border">
    Location Picker
  </div>
  <div class="panel-content">
    <div class="location-picker" data-location-picker>
      <div class="grid-x grid-margin-x">
        <div class="cell small-6">
          <input type="text" value="0" data-location-lat>
        </div>
        <div class="cell small-6">
          <input type="text" value="0" data-location-lng>
        </div>
      </div>
      <div class="place-map margin-bottom-0" data-place-map></div>
    </div>
  </div>
</div>
