<div class="panel">
  <div class="panel-header border">
    Media Gallery
  </div>

  <div class="panel-content border padding-bottom-0">
    <div class="attachments-grid removable" data-list-remove>
      {{#repeat 8}}
        <div class="attachment" data-list-item>
          <div class="thumbnail">
            <img src="https://picsum.photos/300?image=1{{ @index }}">
            <small>Image title #{{ @index }}</small>
            <span class="remove-button mdi mdi-close" data-remove></span>
          </div>
        </div>
      {{/repeat}}
    </div>
  </div>

  <div class="panel-footer">
    <button class="button success hollow margin-0" data-open="media-modal">Add Media</button>
  </div>
</div>

{{> media-modal }}
