<div class="panel">
  <div class="panel-header border">
    Media Gallery
  </div>

  <div class="panel-content border padding-bottom-0">
    <div class="attachments-grid">
      <div class="attachment is-active removable">
        <div class="thumbnail">
          <img src="https://picsum.photos/300">
          <small>Image title</small>
          <span class="check-button mdi mdi-check"></span>
          <span class="remove-button mdi mdi-close"></span>
        </div>
      </div>
      <div class="attachment removable">
        <div class="thumbnail">
          <img src="https://picsum.photos/350">
          <small>Image title</small>
          <span class="remove-button mdi mdi-close"></span>
        </div>
      </div>
      <div class="attachment removable">
        <div class="thumbnail">
          <img src="https://picsum.photos/400">
          <small>Image title</small>
          <span class="remove-button mdi mdi-close"></span>
        </div>
      </div>
      <div class="attachment removable">
        <div class="thumbnail">
          <img src="https://picsum.photos/450">
          <small>Image title</small>
          <span class="remove-button mdi mdi-close"></span>
        </div>
      </div>
      <div class="attachment removable">
        <div class="thumbnail">
          <img src="https://picsum.photos/500">
          <small>Image title</small>
          <span class="remove-button mdi mdi-close"></span>
        </div>
      </div>
      <div class="attachment removable">
        <div class="thumbnail">
          <img src="https://picsum.photos/550">
          <small>Image title</small>
          <span class="remove-button mdi mdi-close"></span>
        </div>
      </div>
      <div class="attachment removable">
        <div class="thumbnail">
          <img src="https://picsum.photos/600">
          <small>Image title</small>
          <span class="remove-button mdi mdi-close"></span>
        </div>
      </div>
      <div class="attachment removable">
        <div class="thumbnail">
          <img src="https://picsum.photos/650">
          <small>Image title</small>
          <span class="remove-button mdi mdi-close"></span>
        </div>
      </div>
      <div class="attachment removable">
        <div class="thumbnail">
          <img src="https://picsum.photos/700">
          <small>Image title</small>
          <span class="remove-button mdi mdi-close"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <button class="button success hollow margin-0" data-open="media-modal">Add Media</button>
  </div>
</div>

{{> media-modal }}
