<div class="panel">
  <div class="panel-header border">
    Schedule
  </div>

  <div class="panel-content border padding-bottom-0">
    <div class="grid-x grid-margin-x">
      <div class="cell small-4">
        <label for="schedule-start-date">
          Date Start
          <input id="schedule-start-date" class="datepicker" type="text" name="start-date" value="" placeholder="Select Start Date" data-date-picker>
        </label>
      </div>
      <div class="cell small-4">
        <label for="schedule-end-date">
          Date End
          <input id="schedule-end-date" class="datepicker" type="text" name="end-date" value="" placeholder="Select End Date" data-date-picker>
        </label>
      </div>
      <div class="cell small-4">
        <label for="schedule-recurrence">
          Recurrence
          <select id="schedule-recurrence" name="recurrence">
            <option value="">Non Recurring</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
          </select>
        </label>
      </div>
    </div>
  </div>
</div>
