<div class="panel">
  <div class="panel-header border">
    Select Box
  </div>
  <div class="panel-content">

    <div class="select-box" data-select-box>
      <input type="text" data-toggle="select-dropdown" placeholder="Select Dog!">
      <div class="dropdown-pane bottom" id="select-dropdown" data-dropdown data-close-on-click="true" data-parent-class="select-box">
        <ul class="select-dropdown" data-list-select>
          <li data-list-item data-value="husker">Husker</li>
          <li data-list-item data-value="starbuck">Starbuck</li>
          <li data-list-item data-value="hotdog">Hot Dog</li>
          <li data-list-item data-value="apollo">Apollo</li>
        </ul>
      </div>
    </div>

    <!-- <select data-select-box multiple="true" data-placeholder="Placeholder..." data-tags="true" data-list="true">
      <option value="husker">Husker</option>
      <option value="starbuck">Starbuck</option>
      <option value="hotdog">Hot Dog</option>
      <option value="apollo">Apollo</option>
    </select> -->
  </div>
</div>
