<div class="panel">
  <div class="panel-header">
    SEO Widget
  </div>
  <div class="panel-content border-none padding-0">
    <div class="seo-analysis" data-seo-analysis data-text="tinymce-editor" data-title="seo-title" data-meta="seo-description" data-slug="slug" data-base-url="website.com">
      <input type="hidden" id="seo-title" name="seo_title" value="" data-default="Example page title">
      <input type="hidden" id="seo-description" name="seo_description" value="Example page description.">
      <div class="seo-keyword">
        <input class="small" type="text" data-seo-keyword placeholder="Focus keyword...">
      </div>
      <div class="seo-preview" data-seo-preview></div>
      <div class="seo-output" data-seo-output></div>
    </div>
  </div>
</div>
