<div class="panel">
  <div class="panel-header">
    Latest Users
  </div>
  <div class="panel-content padding-0 border-none">
    <table class="hover unstriped margin-0" data-table-checkbox>
      <thead>
        <tr>
          <th class="expand">Expanded</th>
          <th class="center">Center</th>
          <th class="compact">Compact</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#repeat 10}}
          <tr>
            <td class="expand">
              <span>Table cell #{{ @index }}</span>
            </td>
            <td class="center">
              {{#ifequal @index 3}}
                <span class="label alert">No</span>
              {{else}}
                <span class="label success">Yes</span>
              {{/ifequal}}
            </td>
            <td class="compact">
              <span>Tue Nov 7, 11:18</span>
            </td>
            <td class="actions">
              <a href="#" class="button hollow" title="Edit"><i class="mdi mdi-pencil"></i></a>
              <a href="#" class="button hollow success" title="Show"><i class="mdi mdi-eye"></i></a>
              <a href="#" class="button hollow alert" title="Delete"><i class="mdi mdi-delete"></i></a>
            </td>
          </tr>
        {{/repeat}}
      </tbody>
    </table>
  </div>
</div>
