<div class="panel">
  <div class="panel-header">
    Latest Users
  </div>
  <div class="panel-content padding-0 border-none">
    <table class="hover unstriped margin-0">
      <thead>
        <tr>
          <th class="shrink">
            <input class="margin-0" type="checkbox">
          </th>
          <th>Table Header</th>
          <th>Table Header</th>
          <th>Table Header</th>
          <th>Table Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input class="margin-0" type="checkbox">
          </td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
        </tr>
        <tr>
          <td>
            <input class="margin-0" type="checkbox">
          </td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
        </tr>
        <tr>
          <td>
            <input class="margin-0" type="checkbox">
          </td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
        </tr>
        <tr>
          <td>
            <input class="margin-0" type="checkbox">
          </td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
        </tr>
        <tr>
          <td>
            <input class="margin-0" type="checkbox">
          </td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
        </tr>
        <tr>
          <td>
            <input class="margin-0" type="checkbox">
          </td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
        </tr>
        <tr>
          <td>
            <input class="margin-0" type="checkbox">
          </td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
          <td>Content Here</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
