<div class="panel">
  <div class="panel-header">
    Latest Users
  </div>
  <div class="panel-content padding-0 border-none">
    <table class="hover unstriped margin-0" data-table-checkbox>
      <thead>
        <tr>
          <th class="expand">Expanded</th>
          <th class="center">Center</th>
          <th class="compact">Compact</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="expand">
            <span>Table row expanded title cell</span>
          </td>
          <td class="center">
            <span class="label success">Yes</span>
          </td>
          <td class="compact">
            <span>Tue Nov 7, 11:18</span>
          </td>
          <td class="actions">
            <a href="#" class="button hollow" title="Edit"><i class="mdi mdi-pencil"></i></a>
            <a href="#" class="button hollow success" title="Show"><i class="mdi mdi-eye"></i></a>
            <a href="#" class="button hollow alert" title="Delete"><i class="mdi mdi-delete"></i></a>
          </td>
        </tr>
        <tr>
          <td class="expand">
            <span>Table row expanded title cell</span>
          </td>
          <td class="center">
            <span class="label alert">No</span>
          </td>
          <td class="compact">
            <span>Tue Nov 7, 11:18</span>
          </td>
          <td class="actions">
            <a href="#" class="button hollow" title="Edit"><i class="mdi mdi-pencil"></i></a>
            <a href="#" class="button hollow success" title="Show"><i class="mdi mdi-eye"></i></a>
            <a href="#" class="button hollow alert" title="Delete"><i class="mdi mdi-delete"></i></a>
          </td>
        </tr>
        <tr>
          <td class="expand">
            <span>Table row expanded title cell</span>
          </td>
          <td class="center">
            <span class="label">So</span>
          </td>
          <td class="compact">
            <span>Tue Nov 7, 11:18</span>
          </td>
          <td class="actions">
            <a href="#" class="button hollow" title="Edit"><i class="mdi mdi-pencil"></i></a>
            <a href="#" class="button hollow success" title="Show"><i class="mdi mdi-eye"></i></a>
            <a href="#" class="button hollow alert" title="Delete"><i class="mdi mdi-delete"></i></a>
          </td>
        </tr>
        <tr>
          <td class="expand">
            <span>Table row expanded title cell</span>
          </td>
          <td class="center">
            <span class="label success">Yes</span>
          </td>
          <td class="compact">
            <span>Tue Nov 7, 11:18</span>
          </td>
          <td class="actions">
            <a href="#" class="button hollow" title="Edit"><i class="mdi mdi-pencil"></i></a>
            <a href="#" class="button hollow success" title="Show"><i class="mdi mdi-eye"></i></a>
            <a href="#" class="button hollow alert" title="Delete"><i class="mdi mdi-delete"></i></a>
          </td>
        </tr>
        <tr>
          <td class="expand">
            <span>Table row expanded title cell</span>
          </td>
          <td class="center">
            <span class="label alert">No</span>
          </td>
          <td class="compact">
            <span>Tue Nov 7, 11:18</span>
          </td>
          <td class="actions">
            <a href="#" class="button hollow" title="Edit"><i class="mdi mdi-pencil"></i></a>
            <a href="#" class="button hollow success" title="Show"><i class="mdi mdi-eye"></i></a>
            <a href="#" class="button hollow alert" title="Delete"><i class="mdi mdi-delete"></i></a>
          </td>
        </tr>
        <tr>
          <td class="expand">
            <span>Table row expanded title cell</span>
          </td>
          <td class="center">
            <span class="label">So</span>
          </td>
          <td class="compact">
            <span>Tue Nov 7, 11:18</span>
          </td>
          <td class="actions">
            <a href="#" class="button hollow" title="Edit"><i class="mdi mdi-pencil"></i></a>
            <a href="#" class="button hollow success" title="Show"><i class="mdi mdi-eye"></i></a>
            <a href="#" class="button hollow alert" title="Delete"><i class="mdi mdi-delete"></i></a>
          </td>
        </tr>
        <tr>
          <td class="expand">
            <span>Table row expanded title cell</span>
          </td>
          <td class="center">
            <span class="label success">Yes</span>
          </td>
          <td class="compact">
            <span>Tue Nov 7, 11:18</span>
          </td>
          <td class="actions">
            <a href="#" class="button hollow" title="Edit"><i class="mdi mdi-pencil"></i></a>
            <a href="#" class="button hollow success" title="Show"><i class="mdi mdi-eye"></i></a>
            <a href="#" class="button hollow alert" title="Delete"><i class="mdi mdi-delete"></i></a>
          </td>
        </tr>
        <tr>
          <td class="expand">
            <span>Table row expanded title cell</span>
          </td>
          <td class="center">
            <span class="label alert">No</span>
          </td>
          <td class="compact">
            <span>Tue Nov 7, 11:18</span>
          </td>
          <td class="actions">
            <a href="#" class="button hollow" title="Edit"><i class="mdi mdi-pencil"></i></a>
            <a href="#" class="button hollow success" title="Show"><i class="mdi mdi-eye"></i></a>
            <a href="#" class="button hollow alert" title="Delete"><i class="mdi mdi-delete"></i></a>
          </td>
        </tr>
        <tr>
          <td class="expand">
            <span>Table row expanded title cell</span>
          </td>
          <td class="center">
            <span class="label">So</span>
          </td>
          <td class="compact">
            <span>Tue Nov 7, 11:18</span>
          </td>
          <td class="actions">
            <a href="#" class="button hollow" title="Edit"><i class="mdi mdi-pencil"></i></a>
            <a href="#" class="button hollow success" title="Show"><i class="mdi mdi-eye"></i></a>
            <a href="#" class="button hollow alert" title="Delete"><i class="mdi mdi-delete"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
