<div class="panel">
  <div class="panel-header border">
    Thumbnail
  </div>

  <div class="panel-content">
    <div id="media-thumbnail" data-media-attach="media-modal">
      <div class="no-content hide padding-0" data-empty-state>
        <i class="mdi mdi-camera-off"></i>
        <span>No thumbnail</span>
        <button class="button success small hollow margin-top-1" data-open="media-thumbnail">Add Thumbnail</button>
      </div>
      <div class="attachments" data-list-remove></div>
    </div>
  </div>
</div>

<template id="media-thumbnail-item-template">
  <div class="attachment text-center" data-list-item>
    <input type="hidden" name="page[thumbnail_id]" data-value="id">
    <div class="margin-bottom-1" data-filename="filename" data-src="id" data-url="https://picsum.photos/600/400?image=[src]">
      <img class="width-100" data-mime-match="image/*" data-replace="src">
      <video class="width-100" data-mime-match="video/*" data-replace="src" controls></video>
      <img class="width-100" data-mime-match="*/*" src="{{root}}assets/img/generic-preview.svg">
    </div>
    <div class="panel-section expanded border last grid-x">
      <div class="cell auto text-left">
        <button class="button alert small hollow margin-0" data-remove>Remove</button>
      </div>
      <div class="cell shrink">
        <button class="button small hollow margin-0" data-open="media-thumbnail">Change</button>
      </div>
    </div>
  </div>
</template>
