<div class="panel">
  <div class="panel-header border">
    Dropzone Upload
  </div>
  <div class="panel-content padding-bottom-0">
    <div class="dropzone" id="media-upload" data-dropzone-upload data-url="/" data-method="get" data-param-name="medium[file]" data-previews-container="#media-upload-previews" data-thumbnail-width="300" data-thumbnail-height="300" data-clickable="#media-upload-button">
      <div class="dz-message bordered margin-bottom-1">
        <div class="no-content">
          <i class="mdi mdi-upload"></i>
          <span>Drop files here to upload</span>
          <a id="media-upload-button" class="button success hollow margin-top-1">Select Files</a>
        </div>
      </div>
      <div id="media-upload-previews" class="attachments-grid"></div>
    </div>
  </div>
</div>

<script id="dropzone-preview-template" type="text/template">
  <div class="attachment">
    <div class="thumbnail">
      <img src="{{root}}assets/img/upload-preview.svg" data-dz-thumbnail />
      <span class="filename" data-dz-name></span>
      <span class="size" data-dz-size></span>
      <div class="progress success"><span class="progress-meter" data-dz-uploadprogress></span></div>
      <i class="success mdi mdi-check"></i>
      <i class="error mdi mdi-close"></i>
      <div class="message" data-dz-errormessage></div>
    </div>
  </div>
</script>
