// No Content Mixins

@mixin ace-editor {
  border: 1px solid smart-scale($panel-background, $panel-color-scale);

  .ace_editor {
    min-height: 20rem;

    textarea {
      min-height: 0;
    }
  }
}


// No Content Component

@mixin bedrock-ace-editor {
  .ace-editor {
    @include ace-editor;
  }
}
