$datepicker-width: 8rem !default;
$datepicker-background: $white !default;
$datepicker-color: inherit !default;

// Date Picker Mixins

@mixin background-calendar($color: $black) {
  $rgb: 'rgb%28#{red($color)}, #{green($color)}, #{blue($color)}%29';

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='24' height='26' viewBox='0 0 24 24'><path d='M 0.4884615,6.3877667 H 1.5875 v -1.1055 H 0.4884615 Z m 1.3432693,0 h 1.2211538 v -1.1055 H 1.8317308 Z m -1.3432693,-1.3512 H 1.5875 v -1.2285 H 0.4884615 Z m 1.3432693,0 h 1.2211538 v -1.2285 H 1.8317308 Z m -1.3432693,-1.4741 H 1.5875 v -1.1056 H 0.4884615 Z m 2.8086539,2.8253 h 1.2211538 v -1.1055 H 3.2971154 Z m -1.4653846,-2.8253 h 1.2211538 v -1.1056 H 1.8317308 Z m 2.9307692,2.8253 h 1.0990385 v -1.1055 H 4.7625 Z m -1.4653846,-1.3512 h 1.2211538 v -1.2285 H 3.2971154 Z m -1.3432692,-3.3167 V 0.61426673 q 0,-0.05 -0.036253,-0.087 -0.036253,-0.036 -0.085862,-0.036 H 1.5875 q -0.049609,0 -0.085862,0.036 -0.036253,0.036 -0.036253,0.087 V 1.7198667 q 0,0.05 0.036253,0.087 0.036253,0.036 0.085862,0.036 h 0.2442308 q 0.049609,0 0.085862,-0.036 0.036253,-0.036 0.036253,-0.087 z m 2.8086538,3.3167 h 1.0990385 v -1.2285 H 4.7625 Z m -1.4653846,-1.4741 h 1.2211538 v -1.1056 H 3.2971154 Z m 1.4653846,0 h 1.0990385 v -1.1056 H 4.7625 Z m 0.1221154,-1.8426 V 0.61426673 q 0,-0.05 -0.036253,-0.087 -0.036253,-0.036 -0.085862,-0.036 H 4.5182696 q -0.049609,0 -0.085862,0.036 -0.036253,0.036 -0.036253,0.087 V 1.7198667 q 0,0.05 0.036253,0.087 0.036253,0.036 0.085862,0.036 H 4.7625 q 0.049609,0 0.085862,-0.036 0.036253,-0.036 0.036253,-0.087 z M 6.35,1.4740667 v 4.9137 q 0,0.1997 -0.145012,0.3455 -0.145012,0.1459 -0.3434495,0.1459 h -5.373077 q -0.1984375,0 -0.3434495,-0.1459 Q 0,6.5874667 0,6.3877667 v -4.9137 q 0,-0.1995 0.145012,-0.3454 0.145012,-0.14589997 0.3434495,-0.14589997 h 0.4884616 v -0.3685 q 0,-0.2533 0.1793569,-0.4338 Q 1.335637,-3.3270833e-5 1.5875,-3.3270833e-5 h 0.2442308 q 0.251863,0 0.4312199,0.180500000833 0.179357,0.1805 0.179357,0.4338 v 0.3685 h 1.4653846 v -0.3685 q 0,-0.2533 0.179357,-0.4338 Q 4.2664063,-3.3270833e-5 4.5182692,-3.3270833e-5 H 4.7625 q 0.251863,0 0.43122,0.180500000833 0.1793569,0.1805 0.1793569,0.4338 v 0.3685 h 0.4884616 q 0.1984375,0 0.3434495,0.14589997 0.145012,0.1459 0.145012,0.3454 z' style='fill: #{$rgb}'></path></svg>");
}

@mixin date-picker-clndr {
  background: $datepicker-background;
  color: $datepicker-color;

  .clndr-controls {
    @include xy-grid;
    text-align: center;
    align-items: center;

    .month {
      @include xy-cell(auto, false);
      padding: .5rem;
      cursor: default;
    }

    .clndr-control-button {
      @include xy-cell(shrink, false);

      span {
        font-size: 0;
        white-space: nowrap;
        width: 2rem;
        overflow: hidden;
        padding: .6rem;
        display: block;
        cursor: pointer;

        &:before {
          display: inline-block !important;
          vertical-align: middle;
        }

        &.inactive {
          opacity: .5;
          cursor: default;
        }
      }

      .clndr-previous-button:before {
        @include css-triangle(8px, $medium-gray, left);
      }

      .clndr-next-button:before {
        @include css-triangle(8px, $medium-gray, right);
      }
    }
  }

  .clndr-table {
    max-width: 100%;
    margin: 0;
    border: 0;
    background: none;

    tbody {
      border-width: 0;
      background: none;
    }

    thead, tfoot {
      border-width: 1px 0;
      background: none;
    }

    tr {
      background: none;
    }

    td {
      padding: .5rem;
      text-align: center;
      background: none;
    }

    tbody td {

      &:hover {
        background: $dark-gray;
        color: $white;
      }
    }

    .day {
      cursor: pointer;

      &.today:not(:hover):not(.selected) {
        background: $light-gray;
      }

      &.adjacent-month, &.inactive {
        opacity: .5;
        pointer-events: none;
        cursor: default;
      }

      &.selected {
        background: $anchor-color;
        color: $white;
      }
    }
  }
}

@mixin date-picker {
  border-top-width: 0;
  min-width: $datepicker-width;
  padding: 0;

  .clndr {
    @include date-picker-clndr;
  }
}

@mixin date-picker-input {
  @include background-calendar($select-triangle-color);
  padding-right: ($form-spacing / 2) + 1.8rem;
  background-size: 60px;
  background-position: $global-right (-4.3rem) top;
  background-origin: content-box;
  background-repeat: no-repeat;
}


// Date Picker Component

@mixin bedrock-date-picker {
  div.datepicker {
    @include date-picker;
  }

  input.datepicker {
    @include date-picker-input;
  }
}
