// File Input Mixins

@mixin file-input {
  position: relative;

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  label {
    position: relative;
    z-index: 1;
  }

  video, img {
    max-width: 100%;
    display: block;
    width: auto;
    margin: auto;
  }
}


// File Input Component

@mixin bedrock-file-input {
  [data-file-input] {
    @include file-input;
  }
}
