@mixin bedrock-global-styles {
  main.content {
    padding: $global-padding * 2;

    @each $name, $size in $grid-column-gutter {
      @include breakpoint($name) {
        padding: $size;
      }
    }
  }

  input {

    &[type="checkbox"],
    &[type="radio"] {
      position: relative;
      top: 2px;
    }
  }

  textarea {
    resize: vertical;
  }

  select {
    padding-#{$global-right}: ($form-spacing * 1.7);
  }

  .top-bar,
  .logo-bar {
    min-height: 4rem;
    border-bottom: 1px solid darken($topbar-background, 10);

    i {
      font-size: 1.5rem;
    }

    a {
      color: inherit;
    }

    .top-bar-left,
    .top-bar-right {
      flex: 0 0 auto;
    }
  }

  .menu {

    a {
      align-items: center;
    }
  }

  .pagination {

    .current, .disabled, .ellipsis {

      a {
        margin: 0;
        padding: 0;
        color: inherit;
        background: none;
      }
    }
  }

  .form-element {
    @include form-element;
    line-height: initial;
  }

  .table-scroll {

    table {
      width: 100%;
    }
  }
}
