$no-content-color: $medium-gray !default;
$no-content-border: $table-border !default;

// No Content Mixins

@mixin no-content {
  padding: $global-padding;
  text-align: center;
  color: $no-content-color;

  &.border {
    border: $no-content-border;
  }

  > i {
    font-size: 3rem;
  }

  > img {
    height: 3rem;
    margin-bottom: $global-margin;
  }

  > span {
    display: block;
  }
}


// No Content Component

@mixin bedrock-no-content {
  .no-content {
    @include no-content;
  }
}
