$offcanvas-menu-background: $secondary-color !default;
$offcanvas-menu-submenu-background: darken($offcanvas-menu-background, 3) !default;
$offcanvas-menu-header-background: $primary-color !default;

// Offcanvas Menu Mixins

@mixin off-canvas-menu-wrapper {
  @include xy-grid;
  min-height: 100vh;
}

@mixin off-canvas-menu-content {
  @include xy-cell(auto, false);
  @include off-canvas-content;

  @include breakpoint(large) {
    transform: translateX(0);
  }
}

@mixin off-canvas-menu {
  @include xy-cell(shrink, false);
  @include off-canvas-base;
  background: $offcanvas-menu-background;

  @each $name, $size in $offcanvas-sizes {
    @include breakpoint($name) {
      width: $size;
    }
  }

  @include breakpoint(large) {
    @include in-canvas;
    background: $offcanvas-menu-background;

    @each $name, $size in $offcanvas-sizes {
      width: $size;
    }
  }

  .top-bar {
    background: $offcanvas-menu-header-background;
    border-color: $offcanvas-menu-background;
    color: $white;
    justify-content: flex-start;

    img {
      height: 1.6rem;
      margin: 0 1rem;
    }

    span {
      margin: 0;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 1.2rem;
    }
  }

  > .menu {
    > li {
      border-bottom: 1px solid rgba(white, .04);

      &:hover {

        > a {
          box-shadow: inset 3px 0 0 $white;
        }
      }

      &:last-child {
        border-bottom: 0;

        > .submenu {
          box-shadow: 0 1px 0 rgba(white, .04);
        }
      }

      > a {
        padding: 1.1rem 1.5rem;

        > i:first-child {
          position: relative;
          margin-right: .7rem;
          font-size: 1.2rem;
          width: 1.2rem;
          vertical-align: middle;
          display: inline-block;

          &:before {
            position: absolute;
            top: -.7rem;
          }
        }
      }

      > .submenu {
        padding: .5rem 0;
        box-shadow: 0 -1px 0 rgba(white, .04);

        .submenu {
          background: rgba(darken($offcanvas-menu-background, 15), 0.1);
          box-shadow: 0 -1px 0 rgba(white, .02), 0 1px 0 rgba(white, .02);
        }
      }

      > .submenu-toggle {
        height: 50px;
      }
    }
  }

  .menu {
    a {
      color: $white;
      font-size: .9rem;
      padding: 1rem 1.5rem;
      outline: 0;
    }

    .submenu {
      background: $offcanvas-menu-submenu-background;
      margin: 0;
    }

    .submenu-toggle {
      height: 45px;
      padding-right: .8rem;
      outline: none;

      &:after {
        border: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba($white, 0.1);
      }
    }
  }

  @include breakpoint(large) {
    &.is-collapsed {
      width: 4rem;

      > .menu {

        > li {

          > a {
            overflow: hidden;
            white-space: nowrap;
            width: 4rem;

            > i {
              width: 4rem;
            }
          }

          > .submenu-toggle {
            opacity: 0;
            visibility: hidden;
          }
        }
      }

      .top-bar {
        white-space: nowrap;
        width: 4rem;
        overflow: hidden;

        span {
          opacity: 0;
        }
      }
    }
  }
}


// Offcanvas Menu Component

.off-canvas-menu-wrapper {
  @include off-canvas-menu-wrapper;
}

.off-canvas-menu-content {
  @include off-canvas-menu-content;
}

.off-canvas-menu {
  @include off-canvas-menu;
}
