$page-content-sidebar-sizes: (large: 340px, xxlarge: 360px) !default;

// Page Content Mixins

@mixin page-content-gutter {
  @each $name, $size in $grid-column-gutter {
    @include breakpoint($name) {
      padding-left: $size / 2;
      padding-right: $size / 2;
    }
  }
}

@mixin page-content {
  @include xy-grid;
  min-height: 100vh;
  flex-flow: row nowrap;

  @each $name, $size in $grid-column-gutter {
    @include breakpoint($name) {
      margin-left: -($size / 2);
      margin-right: -($size / 2);
    }
  }

  @include breakpoint(large down) {
    flex-flow: row wrap;
  }

  > .content {
    @include xy-cell(auto, false);
    @include page-content-gutter;
    overflow-x: auto;
    min-width: 240px;

    @include breakpoint(large down) {
      width: 100%;
    }
  }

  > .sidebar {
    @include page-content-gutter;
    @include xy-cell(shrink, false);

    @each $name, $size in $page-content-sidebar-sizes {
      @include breakpoint($name) {
        width: $size;
      }
    }

    @include breakpoint(large down) {
      width: 100%;
      display: flex;
      flex-direction: column;

      > .button:first-child {
        order: 99 * 99;
      }
    }

    > .menu {

      li {

        &:not(:last-child) {
          border: 1px solid smart-scale($body-background, 5%);
          border-width: 0 0 1px;
        }

        &.is-active, &.active {

          a {
            background: smart-scale($body-background, 5%);
            color: smart-scale($body-background, 50%);
          }
        }
      }

      a {
        color: smart-scale($body-background, 50%);
        padding: $global-padding;
        background: none;
        outline: none;

        i {
          font-size: 1.2rem;
          margin-right: .7rem;
          width: 1.2rem;
        }
      }
    }
  }
}


// Page Content Component

@mixin bedrock-page-content {
  .page-content {
    @include page-content;
  }
}
