$page-content-sidebar-sizes: (
  small: 340px,
  xlarge: 360px
) !default;

// Page Content Mixins

@mixin page-content-gutter {
  @each $name, $size in $grid-column-gutter {
    @include breakpoint($name) {
      padding-left: $size / 2;
      padding-right: $size / 2;
    }
  }
}

@mixin page-content {
  @include xy-grid;
  min-height: 100vh;

  @each $name, $size in $grid-column-gutter {
    @include breakpoint($name) {
      margin-left: -($size / 2);
      margin-right: -($size / 2);
    }
  }

  @include breakpoint(xlarge) {
    flex-flow: row nowrap;
  }

  > .content {
    @include xy-cell(auto, false);
    @include page-content-gutter;
  }

  > .sidebar {
    @include xy-cell(shrink, false);
    @include page-content-gutter;

    @each $name, $size in $page-content-sidebar-sizes {
      @include breakpoint($name) {
        width: $size;
      }
    }

    @include breakpoint(xlarge down) {
      width: 100%;
    }
  }
}


// Page Content Component

@mixin bedrock-page-content {
  .page-content {
    @include page-content;
  }
}
