// Select Box Mixins

@mixin select-box {
  .select-box {
    position: relative;

    input, .selected-value {
      @include form-select;
      display: block;
      width: 100%;
      margin: 0;
      padding-#{$global-right}: ($form-spacing * 1.7);
    }

    .selected-value {
      cursor: pointer;
      line-height: 1.3;
    }

    .dropdown-pane {
      background: none;
      margin: 0;
      padding: 0;
      width: 100%;

      &.bottom {
        border-top: 0;
      }
    }

    .select-dropdown {
      margin: 0;
      padding: 0;
      width: 100%;
      display: block;
      background: $input-background;
      max-height: 12rem;
      overflow-y: auto;

      > li {
        display: block;
        padding: $input-padding;
        cursor: pointer;

        &.is-active {
          background-color: $light-gray;
        }

        &.is-focused {
          background-color: $anchor-color;
          color: white;
        }
      }
    }
  }
}


// Select Box Component

@mixin bedrock-select-box {
  @include select-box;
}
