$shortcode-reveal-alt-color: $dark-gray !default;
$shortcode-reveal-alt-background: darken($reveal-background, 5) !default;

// Shortcode Reveal Mixins

@mixin shortcode-reveal {
  .shortcode-reveal {

    &.full {

      .panel-content {
        position: relative;
        overflow: hidden;
      }

      .shortcode-columns {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }

  .shortcode-columns {
    @include xy-grid;
    height: 100%;
  }

  .shortcode-menu {
    @include xy-cell(shrink, false);
    background: $shortcode-reveal-alt-background;
    min-height: 100%;
    min-width: 15rem;
    border-color: smart-scale($shortcode-reveal-alt-background, 5%);
    border-style: solid;
    border-width: 0 1px 0 0;

    .menu {

      li {

        &:not(:last-child) {
          border: 1px solid smart-scale($media-reveal-alt-background, 5%);
          border-width: 0 0 1px;
        }

        &.is-active, &.active {

          a {
            background: smart-scale($media-reveal-alt-background, 5%);
            color: $media-reveal-alt-color;
          }
        }
      }

      a {
        color: $media-reveal-alt-color;
        padding: $global-padding;
        background: none;
        outline: none;
      }
    }
  }

  .shortcode-form {
    @include xy-cell(shrink, false);
    padding: $global-padding;
    width: 30rem;
    min-height: 100%;
    min-width: 20rem;
  }

  .shortcode-preview {
    @include xy-cell(auto, false);
    background: $shortcode-reveal-alt-background;
    padding: $global-padding;
    min-height: 100%;
    border-color: smart-scale($shortcode-reveal-alt-background, 5%);
    border-style: solid;
    border-width: 0 0 0 1px;
    min-width: 20rem;

    .shortcode-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    iframe {
      margin: 0;
      display: block;
      width: 100%;
      pointer-events: none;
      user-select: none;
    }
  }

  .shortcode-inner {
    @include xy-grid(vertical, false);
    min-height: 100%;

    .shortcode-title {
      @include xy-cell(shrink, false);
    }

    .shortcode-content {
      @include xy-cell(auto, false);
    }
  }

  .shortcode-title {
    padding-bottom: $global-padding;
  }

  .shortcode-content {

    .panel:last-child {
      margin-bottom: 0;
    }
  }
}


// Shortcode Reveal Component

@mixin bedrock-shortcode-reveal {
  @include shortcode-reveal;
}
