// Text Editor Mixins

@mixin text-editor-basics {
  border: 1px solid darken($panel-background, 10);

  .mce-tinymce {
    box-sizing: inherit;
    border: 0;
  }

  .mce-container {
    border-color: darken($panel-background, 10);
  }

  .mce-top-part {

    &:before {
      display: none !important;
    }
  }

  @at-root {
    .mce-panel, .mce-menu {
      box-shadow: none !important;
    }
  }
}


// Text Editor Component

.text-editor {
  @include text-editor-basics;
}
