// Text Editor Mixins

@mixin tiny-mce-editor-basics {
  border: 1px solid smart-scale($panel-background, $panel-color-scale);

  textarea {
    opacity: 0;
    min-height: 200px;
  }

  .mce-tinymce {
    box-sizing: inherit;
    border: 0;
  }

  .mce-container {
    border-color: smart-scale($panel-background, $panel-color-scale);
  }

  .mce-path {
    padding-left: ($global-padding * 0.95);
  }

  .mce-top-part {

    &:before {
      display: none !important;
    }
  }

  .mce-toolbar .mce-btn-group {
    margin: 0;
    padding: ($global-padding / 3) ($global-padding / 2);
    border: 0;

    &:first-child {
      margin-left: -1px;
    }

    .mce-btn {

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .is-stuck {
    top: 0;
    border-bottom: 1px solid smart-scale($panel-background, $panel-color-scale);
  }

  .mce-menubtn.mce-fixed-width span {
    position: relative;
    top: 1px;
  }

  @at-root {
    .mce-panel, .mce-menu {
      box-shadow: none !important;
    }

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
      font-family: $body-font-family;
    }
  }
}


// Text Editor Component

@mixin bedrock-tiny-mce-editor {
  .tiny-mce-editor {
    @include tiny-mce-editor-basics;
  }
}
