.button

  &.plain
    background: none
    color: inherit

  &.gravatar
    padding-left: 4rem !important

    img
      position: absolute
      top: 0
      left: .8rem
      width: 36px
      height: 36px

  &.notify
    position: relative

    .badge, .label
      position: absolute
      top: 0
      right: 0
      min-width: 1.7em
