<div class="reveal full reveal-panel" id="media-modal" data-reveal>
  <div class="panel">
    <div class="panel-header border">
      Add Media
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="panel-content border">
      <ul class="tabs" data-tabs id="media-modal-tabs">
        <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true">Tab 1</a></li>
        <li class="tabs-title"><a href="#panel2c">Tab 2</a></li>
        <li class="tabs-title"><a href="#panel3c">Tab 3</a></li>
        <li class="tabs-title"><a href="#panel4c">Tab 4</a></li>
      </ul>

      <div class="tabs-content" data-tabs-content="media-modal-tabs">
        <div class="tabs-panel is-active" id="panel1c">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="tabs-panel" id="panel2c">
          <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
        </div>
        <div class="tabs-panel" id="panel3c">
          <img class="thumbnail" src="assets/img/generic/rectangle-3.jpg">
        </div>
        <div class="tabs-panel" id="panel4c">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <button class="button margin-0" data-close aria-label="Close modal" type="button">Close</button>
    </div>
  </div>
</div>
