<div class="reveal full reveal-panel media-reveal" id="media-modal" data-media-reveal data-multiple-opened="true" data-media-url="{{root}}assets/data/images.json" data-unique-key="id">
  <div class="panel">
    <div class="panel-header border">
      Add Media
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="panel-content border padding-0">
      <div class="media-columns">
        <div class="media-menu">
          <ul class="tabs menu vertical icons icon-left" data-tabs id="media-modal-tabs">
            <li class="tabs-title is-active"><a href="#media-modal-library" aria-selected="true"><i class="mdi mdi-play-circle-outline"></i> Library</a></li>
            <li class="tabs-title"><a href="#media-modal-upload"><i class="mdi mdi-upload"></i> Upload</a></li>
          </ul>
        </div>

        <div class="media-content padding-0">
          <div class="tabs-content border-none padding-0" data-tabs-content="media-modal-tabs">
            <div class="tabs-panel is-active" id="media-modal-library">
              <div class="attachments-grid" data-list-select></div>
            </div>
            <div class="tabs-panel" id="media-modal-upload">
              <div class="dropzone" id="media-modal-upload" data-dropzone-upload data-url="/" data-method="get" data-param-name="medium[file]" data-previews-container="#media-modal-upload-previews" data-thumbnail-width="300" data-thumbnail-height="300" data-clickable="#media-modal-upload-button">
                <div class="dz-message bordered margin-bottom-1">
                  <div class="no-content">
                    <i class="mdi mdi-upload"></i>
                    <span>Drop files here to upload</span>
                    <a id="media-modal-upload-button" class="button success hollow margin-top-1">Select Files</a>
                  </div>
                </div>
                <div id="media-modal-upload-previews" class="attachments-grid"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <div class="grid-x">
        <div class="cell auto">
          <button class="button hollow alert margin-0" data-close aria-label="Close modal" type="button">Close</button>
        </div>
        <div class="cell shrink">
          <button class="button margin-0" data-insert aria-label="Insert Media" type="button">Insert Media</button>
        </div>
      </div>
    </div>
  </div>
</div>

<template id="media-modal-item-template">
  <div class="attachment" data-list-item>
    <div class="thumbnail">
      <img src="{{root}}assets/img/upload-preview.svg" data-src="id" data-url="https://picsum.photos/300?image=[src]">
      <span class="filename" data-text="author"></span>
      <span class="check-button mdi mdi-check"></span>
    </div>
  </div>
</template>
