<div class="reveal full reveal-panel" id="media-modal" data-reveal>
  <div class="panel">
    <div class="panel-header border">
      Add Media
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="panel-content border">
      <div class="attachments-grid" data-list-select data-list-select-multiple="true">
        {{#repeat 64}}
          <div class="attachment" data-list-item>
            <div class="thumbnail">
              <img src="https://picsum.photos/300?image={{ @index }}">
              <small>Image title #{{ @index }}</small>
              <span class="check-button mdi mdi-check"></span>
            </div>
          </div>
        {{/repeat}}
      </div>
    </div>

    <div class="panel-footer">
      <div class="grid-x">
        <div class="cell auto">
          <button class="button hollow alert margin-0" data-close aria-label="Close modal" type="button">Close</button>
        </div>
        <div class="cell shrink">
          <button class="button margin-0" aria-label="Insert Media" type="button">Insert Media</button>
        </div>
      </div>
    </div>
  </div>
</div>
