<div id="off-canvas-left" class="off-canvas off-canvas-menu position-left reveal-for-large sticky is-stuck" data-off-canvas-menu data-position="left">
  <div class="top-bar">
    <ul class="menu">
      <li class="menu-text"><i class="fa fa-cube"></i><span>Bedrock</span></li>
    </ul>
  </div>

  <ul class="vertical menu" data-accordion-menu>
    <li>
      <a href="#"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
      <ul class="vertical menu">
        <li>
          <a href="#"><span>Item 1A</span></a>
          <ul class="vertical menu">
            <li><a href="#">Item 1A</a></li>
            <li><a href="#">Item 1B</a></li>
            <li><a href="#">Item 1C</a></li>
            <li><a href="#">Item 1D</a></li>
            <li><a href="#">Item 1E</a></li>
          </ul>
        </li>
        <li><a href="#">Item 1B</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fa fa-users"></i><span>Users</span></a>
      <ul class="vertical menu">
        <li><a href="#">Item 2A</a></li>
        <li><a href="#">Item 2B</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fa fa-gears"></i><span>Settings</span></a>
      <ul class="vertical menu">
        <li><a href="#">Item 3A</a></li>
        <li><a href="#">Item 3B</a></li>
      </ul>
    </li>
    <li class="active">
      <a href="#"><i class="fa fa-github"></i><span>Repositories</span></a>
    </li>
  </ul>
</div>
