<div class="reveal full reveal-panel shortcode-reveal" id="shortcode-modal" data-shortcode-reveal data-multiple-opened="true" data-shortcodes-url="{{root}}/assets/data/shortcodes.json" data-form-url="{{root}}/assets/data/[name]-shortcode-form.html" data-preview-url="{{root}}/assets/data/[name]-shortcode-preview.html">
  <div class="panel">
    <div class="panel-header border">
      Add Shortcode
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="panel-content border padding-0">
      <div class="shortcode-columns">
        <div class="shortcode-menu" data-menu></div>
        <div class="shortcode-form">
          <h4 class="margin-bottom-1">Configure</h4>
          <div data-form></div>
        </div>
        <div class="shortcode-preview">
          <h4 class="margin-bottom-1">Preview</h4>
          <div class="responsive-embed" data-preview></div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <div class="grid-x">
        <div class="cell auto">
          <button class="button hollow alert margin-0" data-close aria-label="Close modal" type="button">Close</button>
        </div>
        <div class="cell shrink">
          <button class="button margin-0" data-insert aria-label="Insert Shortcode" type="button">Insert</button>
        </div>
      </div>
    </div>
  </div>
</div>
