<div class="top-bar">
  <img src="./assets/img/yeti.svg" alt="Yeti">
  <span>Bedrock Admin</span>
</div>

<ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true">
  <li>
    <a href="#"><i class="mdi mdi-gift"></i>Item 1</a>
    <ul class="menu vertical nested">
      <li>
        <a href="#">Item 1A</a>
        <ul class="menu vertical nested">
          <li><a href="#">Item 1Ai</a></li>
          <li><a href="#">Item 1Aii</a></li>
          <li><a href="#">Item 1Aiii</a></li>
        </ul>
      </li>
      <li><a href="#">Item 1B</a></li>
      <li><a href="#">Item 1C</a></li>
    </ul>
  </li>
  <li>
    <a href="#"><i class="mdi mdi-comment-multiple-outline"></i>Item 2</a>
    <ul class="menu vertical nested">
      <li><a href="#">Item 2A</a></li>
      <li><a href="#">Item 2B</a></li>
    </ul>
  </li>
  <li><a href="#"><i class="mdi mdi-bell-ring-outline"></i>Item 3</a></li>
  <li>
    <a href="#"><i class="mdi mdi-pokeball"></i>Item 4</a>
    <ul class="menu vertical nested">
      <li><a href="#">Item 4A</a></li>
      <li><a href="#">Item 4B</a></li>
    </ul>
  </li>
  <li><a href="#"><i class="mdi mdi-qrcode"></i>Item 5</a></li>
  <li><a href="#"><i class="mdi mdi-bug"></i>Item 6</a></li>
  <li>
    <a href="#"><i class="mdi mdi-radio-tower"></i>Item 7</a>
    <ul class="menu vertical nested">
      <li>
        <a href="#">Item 7A</a>
        <ul class="menu vertical nested">
          <li><a href="#">Item 7Ai</a></li>
          <li><a href="#">Item 7Aii</a></li>
          <li><a href="#">Item 7Aiii</a></li>
        </ul>
      </li>
      <li><a href="#">Item 7B</a></li>
      <li><a href="#">Item 7C</a></li>
    </ul>
  </li>
</ul>
