<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedrock Admin Template</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    <div id="wrapper" class="off-canvas-wrapper">
      <div id="wrapper-inner" class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        {{> sidebar}}
        {{> content}}
      </div>
    </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
